# =========================
# Python Cache & Artifacts
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Environment & Secrets
# =========================
.env
.env.*

venv/